<div style="margin: 3em;">
  <%= link_to tokens_path, class: "home-button"  do %>
    <i class="fa-solid fa-house"></i>
  <% end %>
</div>

<div class="light-heading">
  <h1>New token</h1>
</div>

<%= render "form", token: @token %>
