<div id="<%= dom_id song %>" class="song_card">
  <p style="font-size: 1.2em; margin: 0; font-weight: bold;">
    <%= song.title %>
  </p>

  <p style="font-size: .8em;">
    Artist:
    <%= song.artist %>
  </p>

  <p style="font-size: .8em; margin: 0;">
    <%= pluralize(song.upvotes, 'upvote') %>
  </p>


</div>
