<div id="<%= dom_id song %>" class="song_card">
  <p style="font-size: 2em; margin: 0; font-weight: bold;">
    <%= song.title %>
  </p>

  <p>
    Artist:
    <%= song.artist %>
  </p>

  <p style="margin: 0;">
    <%= song.upvotes %>
    upvotes
  </p>


</div>
