<div style="margin: 3em;">
  <%= link_to songs_path, class: "home-button"  do %>
    <i class="fa-solid fa-house"></i>
  <% end %>
</div>

<div class="light-heading">
  <h1>New song</h1>
</div>

<%= render "form", song: @song %>

<p class="rights-comment">&#169 2023, Zero Budget Solutions. All rights reserved.</p>