/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "font-awesome";
 @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100&display=swap');

:root {
  --dark-green: #66347F;
  --green: #9E4784;
  --light-green: #D27685;
  --dark-background: #282831;
  --light-text: #e2e2e2;
  --red-button: #d74d3e;
}

html {
  height: 100%;
}

body {
  font-family: 'Lexend', sans-serif;
  color: var(--light-text);

  background-color: var(--dark-background);
  background-size: 100% 100%;

  margin: 0;
}

body a {
  text-decoration: none;
}

.light-heading {
  margin: 0 3em;
  color: var(--light-green);
}

.general-input {
  margin: 1em 3.5em;
  width: 15em;
  height: 1.5em;
  border-radius: .6em;
  border: none;
  padding: .4em;
}

.general-submit-button {
  padding: 1em; 
  background-color: var(--green); 
  color: white; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 1em;
  cursor: pointer;
  border-radius: .6em;
  border: none;
  margin-top: .5em;
  box-shadow: 0 0 .8em rgba(0, 0, 0, 0.685);
}

.home-button {
  color: var(--green);
  font-size: 2em;
}