/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "font-awesome";

:root {
  --dark-green: #39472a;
  --green: #6e9248;
  --light-green: #add088;
  --dark-background: #1e1e21;
  --light-text: #e2e2e2;
  --red-button: #d74d3e;
}

 html {
    height: 100%;
 }

 body {
    font-family: 'Arial';
    color: var(--light-text);

    background-color: var(--dark-background);
    background-size: 100% 100%;

    margin: 0;
    
  
  }

  body a {
    text-decoration: none;
  }

  .light_heading {
    margin: 0 3em;
    color: var(--light-green)
  }
