.welcome_button {
  margin: 3em;
  padding: 2em;
  background-color: var(--light-text);
  border-radius: .7em;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.purple_text {
    color: var(--dark-green)
}