.welcome_button {
  margin: 3em;
  padding: 2em;
  background-color: var(--green);
  border-radius: .7em;
  cursor: pointer;
  box-shadow: 0 0 .8em rgba(0, 0, 0, 0.685);
  max-width: 20em;
}

.purple_text {
    color: var(--dark-green)
}

.additional-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 4em 3em;
  height: 3em;
}

.button-text {
  font-size: 1.5em;
  color: var(--light-text);
}

.button-margin {
  margin-left: 3em;
}

.invalid-code {
  margin: .5em 0 2em 3.8em;
  color: var(--red-button);
  font-size: .8em;
}