.buttons-footer {
    position: fixed;
    top: calc(100% - 7em);
    left: 0;
    display: flex; 
    background-color: var(--light-text);
    width: calc(100% - 6em);
    height: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1em 3em;
    border-radius: 1em;
    z-index: 999;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

#songs {
    margin: 0 2em 7em 2em;
}

.button-styling {
    font-size: 2em;
    color: var(--dark-green);
    margin: .7em;
    background: none;
    border: none;
}

.song_card {
    background-color: rgba(255, 255, 255, 0.066);
    padding: .5rem;
    max-width: 30em;
    border-radius: 1em 0 0 1em;
    width: 100%;
}

.card_with_button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 1em 0;
}

.upvote_button {
    background-color: rgba(255, 255, 255, 0.066);
    border-radius: 0 1em 1em 0;
}